.boardCell {
    float: left;
    width: 30px;
    height: 30px;
    border: 1px solid blue;
}

.rowDiv {
    height: 32px;
    width: 100%;
}

.isSnake {
    background-color: black;
}

.isFood {
    background-color: yellowgreen;
}