body{ 
    margin:0;
    color:#555555;
    font-family: 'Arial';  
}
a {
    text-decoration: none;
    color:#555;
}
ul{
    padding:0;
    margin:0;
}
h1,h5{
    font-weight: normal;
}
h1{
    font-size: 50px;
}
h3{
    min-height: 40px;
}
h5{
    font-size: 24px;
    line-height: 34px;
}

p{
    margin-top: 25px;
}
table{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: left;
}

table th{
    border-bottom: 1px solid #dddddd;
}
table td, table th{
    padding: 13px 20px;
}
table td{
    border-top: 1px solid #dddddd;
}
table td:first-child{
    font-weight: bold;
}
table tr:first-child td{
    border-top: 2px solid #dddddd;
}
.header-top{
        background-color: black;
}

.main-content,
body > section > div,
body > header > section > div, 
body > footer > section > div {
    max-width: 1150px;
    margin:0 auto;
    width:100%;
}

.logo img {
    height: 85px;
}

.login {
        float:right;
        margin-top: 23px;
}

.login input,
.login button

{
        line-height: 34px;
        padding:0 14px;
        border:0;
        border-radius:3px;
}

.login button{
    background: #5db85b;
    color:#FFF;
}
.menu li{
    display: inline-block;
    padding:16px 15px;
}

.menu a{
     display: inline-flex;
    padding:16px 15px;
}
.menu a:hover,
.menu a.active{
    background: #e7e7e7;
}
.sliedr h5{
    margin-top: -25px;
}
.slider{
    background: #e7e7e7;
    padding: 30px 0px 50px 0px;
}
.button{
    
    border-radius: 5px;
    padding: 14px 14px;
    border: 1px solid #cacaca;
    display: inline-block;

}
.blue{
    color: white;
    background-color: blue;
    border-color: #cacaca;
}
.articles > div{
    display: flex;
}
.articles article{
    width: 100%;
    padding-left: 50px;
}
.articles article:first-child{
    padding-left: 10;
}
.articles section{
    min-height: 350px;
}
.main-content{
    display: table;
    margin: 0 auto 0 auto;
    border-top: 1px solid #DDDDDD;
    padding: 50px 0px;
}
.main-content > div{
    display: table-row;
    vertical-align: top;
}
.main-content .left,
.main-content .right{
        display: table-cell;
        vertical-align: top;
}
.main-content .left{
    width: 70%;

}
.main-content .right{
    width: 30%;
}
.site-image{
    background: url('../img/pobrane.jpg');
    height: 300px;
    background-size: 100% 100%;
    background-position: center center;
}
body > footer{
    background: #eeeeee;
    padding: 25px 0px;
}
.slick-slider,
.slick-slide{
    height: 300px;
}
.slick-slide img{
    width: 100%;
    height: 100%;
}
.slick-slider .slick-arrow{
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 30px;   
}
.slick-slider .slick-next{
    right: 0;
}
.slick-slider .slick-dots{
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    margin: auto;
    width: 200px;
    text-align: center;
}

.slick-slider .slick-dots li{
    display: inline-block;
    margin-left: 10px;
}
.slick-slider .slick-dots li.slick-active button,
.slick-slider .slick-dots li:hover button{
    background: #2e7cbe;
    cursor: pointer;
    outline: none;
}
.slick-slider .slick-dots li button{
    border-radius: 100%;
    border: 0;
    text-indent: -5000px;
    width: 17px;
}